.board {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 700px;
  height: 500px;
  padding: 15px;
  border: 1px solid rgba(75, 74, 74, 0.3);
  background-color: #dedede;
  border-radius: 5px;
}